{% extends 'base.html' %}
{% block title %} Смена пароля {% endblock %}
{% block menu_links %}
{#    <li>#}
{#    <a href="{% url 'account:detail' %}">Назад</a>#}
{#    </li>#}
    <li><a href="{% url 'account:user_change' %}"> Редактирование личных данных!!!</a></li>
{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
{#    {% url 'account:password_change' user_obj.pk as action_url%}#}
    <form action="" method="post">
    {% include 'partial/base_form.html' with button_text='change' %}
    </form>



{% endblock %}


{#{% block menu %}#}
{#    <li><a href="{% url 'account:detail' request.user.pk%}">Назад</a></li>#}
{#    <li><a href="{% url 'account:user_change' %}"> Редактировать личных данных</a></li>#}
{#{% endblock %}#}